// variables


// core
@import "core/normalize";
@import "core/typography";

// app

*,
*:before,
*:after{
  box-sizing: border-box;
}

.wrapper{
  width: 100vw;
  height: 100vh;
  background-color: #3E6BE0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal{
  width: 840px;
  height: 510px;
  background: #FFF;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 4px;
  padding: 20px;
}

.navtop{
  height: 65px;
  display: flex;
  align-items: center;
  padding: 0 20px;

  &__brand{
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5rem;
  }

  &__nav{
    list-style: none;
    padding-left: 0;
    margin-top: 3px;
    margin-bottom: 0;
  }

  &__item{
    display: inline-block;
    margin-left: 25px;
    position: relative;
  }

  &__link{
    text-decoration: none;
    color: #ccc;
    transition: ease 0.12s;

    &:hover{
      color: #ddd;
    }
  }
}

.content{
  display: flex;
  align-items: center;
  position: relative;
  height: 350px;

  &__body,
  &__feature{
    width: 50%;
    flex-basis: 50%;
    flex-shrink: 0;
  }

  &__body{
    padding-left: 60px;
    padding-right: 60px;
  }

  &__title{
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: 300;
  }

  &__paragraph{
    letter-spacing: 0.5px;
    line-height: 25px;
  }

  &__feature{
    height: 100%;
    position: relative;
  }

  &__product{
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0px;
    transition-duration: 250ms, 250ms, 0ms;
    transition-property: opacity, right, visibility;
    transition-delay: 250ms, 250ms, 0ms;
    visibility: visible;
    opacity: 1;

    &--hidden{
      right: -20px;
      transition-delay: 0ms, 0ms, 250ms;
      visibility: hidden;
      opacity: 0;

    }

    img{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
    }
  }
}

.navfooter{
  display: flex;
  align-items: center;
  padding: 15px 20px;

  &__list{
    list-style: none;
    padding-left: 0;
    margin-top: 3px;
    margin-bottom: 0;
  }

  &__item{
    display: inline-block;
    margin-right: 25px;
    position: relative;
  }

  &__link{
    text-decoration: none;
    color: #ccc;
    cursor: pointer;
    transition: color 250ms;

    &:before{
      position: absolute;
      content: '';
      top: 8px;
      right: -2px;
      height: 2px;
      width: 0;
      background: #222;
      transition: width 250ms;
    }

    &--active{
      color: #222;

      &:before{
        width: 25px;
      }
    }
  }
}

.footer{
  width: 840px;
  position: fixed;
  bottom:25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;

  p{
    color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
  }
}
